global:
  scrape_interval: 15s

scrape_configs:
{% if groups['all']|length %}
  - job_name: 'node_exporter'
    static_configs:
    - targets: [ '{{groups['all']|join(':9100\', \'')}}:9100' ]

{% endif %}


#  - job_name: 'node_exporter'
##    scrape_interval: 5s
#    static_configs:
##      - targets:
#      {% for host in groups['all'] %}
#      {% if inventory_hostname != host %}
##        - '{{ host }}:9100'
#      {% endif %}
#      {% endfor %}