[Unit]
Description={{ serviceName }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user_id }}
Group={{ prometheus_group_id }}
Restart=always
RestartSec=2
Type=simple
ExecStart={{ exec_command }}

[Install]
WantedBy=multi-user.target
